.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  width: 100%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.query-input {
  margin-top: auto;
  margin-bottom: 15vh;
  width: 300px;
}

.message-input {
  display: flex;
  position: absolute;
  width: 96vw;
  max-width: 600px;
  padding-left: 20px;
  left: auto;
  right: auto;
  bottom: 10px;
}
.message-input i {
  font-size: 34px;
  margin-left: 15px;
}

.message-input .send-icon i {
  color: #0084FF;
}

.no-margin {
  margin: 0;
}

.red {
  color: red;
}
